body {
    background: #1e1e1e;
    color: white;
    text-align: center;
    font-family: Arial;
}

h2, h3 {
    margin-top: 20px;
}

#freq {
    font-size: 28px;
    margin: 20px;
    color: #00ff7f;
}

pre {
    background: #111;
    padding: 20px;
    width: 350px;
    margin: auto;
    font-size: 18px;
}

button {
    padding: 10px 25px;
    font-size: 18px;
    background: #008000;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background: #00a000;
}

#volume-bar-bg {
    width: 300px;
    height: 20px;
    background: #333;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
}

#volume-bar {
    height: 100%;
    width: 0%;
    background: #00ff7f;
    transition: width 0.05s linear;
}

.filter-box {
    background: #222;
    padding: 10px;
    margin: 10px auto;
    width: 350px;
    border-radius: 8px;
}

.btn-box {
    margin: 20px;
}
